name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies for gateway
        run: npm ci
        working-directory: ./gateway

      - name: Install dependencies for payment
        run: npm ci
        working-directory: ./payment

      - name: Install dependencies for users
        run: npm ci
        working-directory: ./users